@model Google_Maps_Transport_Locator.Models.BusDetails

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    function initialize() {
        //Starting location - Bus stop
        var location = new google.maps.LatLng(53.288501, -6.363275);
        var mapOptions = {
            center: location,
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //Marker Locations
        //var locations = [
        //    ['<a href="http://www.dublinbus.ie/PageFiles/12205/27%281%29_From_Hawkins_St_Towards_Jobstown_Dec_2015.pdf">27 Bus Information</a>', 53.28925, -6.357604, 1],
        //    ['<a href="http://www.dublinbus.ie/PageFiles/12205/27%281%29_From_Hawkins_St_Towards_Jobstown_Dec_2015.pdf">27 Bus Information</a>', 53.2885, -6.363275, 3],
        //    ['<a href="http://www.dublinbus.ie/PageFiles/12205/27%281%29_From_Hawkins_St_Towards_Jobstown_Dec_2015.pdf">27 Bus Information</a>', 53.28922, -6.376028, 2]
        //];

        var locations = [
            [display, lat, long]
        ];

        @*var locations = [lat, long];

        @foreach(var d in Model.busNumber)
        {
            @:locations.push("@d");

        }*@

        @*var locations = [];
        var someArray = [@foreach(var d in Model.ID){@Model.busNumber}];*@

        var marker, i;
        var lat = '<%=Model.latitude%>';
        var long = '<%=Model.longitude%>';
        var display = '<%=Model.busNumber %>';

        @*var coord = new google.maps.LatLng(@Model.latitude, @Model.longitude);
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(coord),
            map: map,
            title: 'Bus Information'
        })*@

        //Place multiple markers
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                title: 'Bus Information'
            });

            //Add info window to each marker
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));


            //Pano settings - same location as coordinates
            var panoramaOptions = {
                position: location,
                pov: {
                    heading: 34,
                    pitch: 10
                }
            };

            //Set Pano
            var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
            map.setStreetView(panorama);

            var infowindow = new google.maps.InfoWindow({
                content: ('<a href="http://www.dublinbus.ie/PageFiles/12205/27%281%29_From_Hawkins_St_Towards_Jobstown_Dec_2015.pdf">27 Bus Information</a>')
            });
        }

    }

    //Initalizes what is in the function
    google.maps.event.addDomListener(window, 'load', initialize);

    //Find Own Coordinates
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (p) {
            var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            var markTest = [
                [53.289115, -6.357727], [LatLng]
            ];
            var mapOptions = {
                center: LatLng,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
                title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
            });
            google.maps.event.addListener(marker, "click", function (e) {
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(marker.title);
                infoWindow.open(map, marker);
            });
        });
    } else {
        alert('Geo Location feature is not supported in this browser.');
    }

</script>

@*<div id="dvMap" style="width: 500px; height: 500px">
    </div>*@
<div class="jumbotron">
    <p class="lead">
</div>

<div class="row">
    <div class="col-md-4">
        <div class="wrap left rounded">
            <input type="text" class="search left rounded" value="Search for Location" />
            <button class="go left rounded"><span></span></button>
        </div>
    </div>
    <div class="col-md-4">
        <div id="map-canvas"></div>
    </div>
    <div class="col-md-4">
        <div id="pano"></div>
    </div>

    <script>
        $(document).ready(function () {

            var x = "empty";
            var xTest = function (response) {
                console.log(typeof (response));
                console.log(response);
                console.log(JSON.stringify(response));

                console.log(response[0]);
                console.log(response[0]["busNumber"]);
                
            }

            
            var call = function (xTest) {
                $.ajax({
                    url: "/BusDetails/Index",
                    accepts: {
                        json: "application/json"
                    },
                    success: function (response) {
                        console.log("boom");
                        xTest(response);
                    }
                });
            }
            call(xTest);
        });
    </script>
